body {
  margin: 0;
  padding 0;
  font-family:  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  font-family:  'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro,  Monaco, Consolas, 'Courier New',
    monospace;
}
.login-form{
  position:relative;
  top:100px;
  left:27%;
  border:5px solid #fcc603;
  width:44%;
  height:599px;
  padding:49px;  
}
.login-image{
  position:relative;
  left:99px;
  height:229px;
  
}
.login-form-controls{
  position:relative;
  top:49px;
}
.login-btn{
  position:relative;
  top:49px;
  width:199px;
  left:130px;
}
.add-question{
  border:2px groove #fcc603;
  margin:29px 0px 0px 399px;
  padding:19px 0px 0px 0px;
  width:45%;
  height:389px;

}
.add-option{
  margin:10px 0px 50px 0px;
}
.add-btn{
  margin-left: 40%;
}
.leaderboard-info{
  border:5px groove #fcc603;
  margin:0 auto;
  padding:20px 0px 0px 0px;
  width:59%;
  height:auto;
  position:relative;
}
.leaderboard-img-div{
  float:left;
  border-right:3px solid #3d3d3a;
  padding-right: 20px;
  margin-right: 20px;
}
.leaderboard-img{
border:5px groove #3d3d3a;
}

.leaderboard-text{
  margin-left:149px;
  margin-top:29px;
  
}
.leaderboard-score{
  border:3px solid #3d3d3a;
  border-radius: 89px;
  padding:30px;
  display:inline-block;
  width:129px;
  height:129px;
  position:absolute;
  right:10px;
  bottom:0px;
  font-size:22px;
  font-weight: bold;
  background-color: #fcc603;
}
.overview-ul{
  list-style-type:none;
  margin:0px;
}

.overview-li{
  margin:0px;
}
.overview-card{
  border:2px groove #fcc603;
  margin:30px 0px 0px 0px;
  padding:20px 0px 0px 0px;

}

.overview-text{
  margin-left:49px;
  display:inline-block;
  width:149px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.overview-btn{
  margin-left:44%;
  margin-bottom: 30px;
}
.pollview-card{
  border:2px groove #fcc603;
  margin:0 auto;
  padding:20px 0px 0px 0px;
 width: 55%;
}
.pollview-img{
  border:3px solid #3d3d3a;
 
  
}
.option{
  position: relative;
  left:200px;
  bottom:100px;
}
.pollview-btn{
  margin-top:60px;
}

.bar-div{
  margin:10px;
  position: relative;
  left: 180px;
  bottom: 100px;
}
.bar{
  width:370px;
}
.btn{
  text-decoration: none;
  color:#f7f7f2;
}
.nav-link{
  color:#3d3d3a;
}

